---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="The Hallucinunciation Setlist">
  <main>
    <h1>
      <span class="text-gradient">The Hallucinunciation</span> Setlist
    </h1>
    <p class="instructions">7 songs. 6 artists. 1 story.</p>
    <ul role="list" class="link-card-grid">
      <Card title="No Surprises" body="by Radiohead" href="#" />
      <Card title="Don’t Give Up" body="by Peter Gabriel" href="#" />
      <Card title="That Voice Again" body="by Peter Gabriel" href="#" />
      <Card title="Love Will Tear Us Apart" body="by Joy Division" href="#" />
      <Card title="Where is My Mind?" body="by The Pixies" href="#" />
      <Card title="The Killing Moon" body="by Echo & the Bunnymen" href="#" />
      <Card title="Spark" body="by Over the Rhine" href="#" />
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    max-width: calc(100% - 2rem);
    height: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    position: relative;
  }
  main:before {
    content: "";
    background-image: url(/Dream_of_St_Joseph.jpg);
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    overflow-wrap: break-word;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
